aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
alembic==1.7.7
appdirs==1.4.4
arrow==1.2.2
asttokens==2.0.5
async-timeout==4.0.2
asyncssh==2.8.1
atpublic==3.0.1
attrs==21.4.0
autopep8==1.6.0
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall==0.2.0
binaryornot==0.4.4
brotlipy==0.7.0
cachetools==5.0.0
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1643036627027/work
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cookiecutter==1.7.3
coverage @ file:///C:/ci/coverage_1645539263463/work
cryptography==36.0.2
cycler==0.11.0
databricks-cli==0.16.6
debugpy==1.5.1
decorator==5.1.1
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
docker==4.2.2
docutils @ file:///C:/ci_310/docutils_1642080194278/work
dpath==2.0.6
dulwich==0.20.35
dvc==2.9.5
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
flake8 @ file:///opt/conda/conda-bld/flake8_1648129545443/work
Flask==2.1.1
flatten-dict==0.4.2
flufl.lock==7.0
fonttools==4.31.1
frozenlist==1.3.0
fsspec==2022.2.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.0
grandalf==0.6
greenlet==1.1.2
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
imagesize @ file:///tmp/build/80754af9/imagesize_1637939814114/work
importlib-metadata==4.11.3
ipykernel==6.9.1
ipython==8.1.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
jinja2-time==0.2.0
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver==1.4.0
kneed==0.7.0
mailchecker==4.1.14
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mlflow==1.24.0
multidict==6.0.2
nanotime==0.5.2
nest-asyncio==1.5.4
networkx==2.7.1
numpy==1.22.3
oauth2client==4.1.3
oauthlib==3.2.0
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
parso==0.8.3
pathspec==0.9.0
phonenumbers==8.12.45
pickleshare==0.7.5
Pillow==9.0.1
ply==3.11
poyo==0.5.0
prometheus-client==0.13.1
prometheus-flask-exporter==0.19.0
prompt-toolkit==3.0.28
protobuf==3.20.0
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==1.4.2
PyDrive2==1.10.0
pyflakes @ file:///tmp/build/80754af9/pyflakes_1636644436481/work
pygit2==1.9.1
Pygments==2.11.2
pygtrie==2.4.2
PyJWT==2.3.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
pypiwin32==223
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-benedict==0.25.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-fsutil==0.6.0
python-slugify==6.1.1
pytz==2021.3
pywin32==303
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
requests==2.27.1
rich==12.0.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scipy==1.8.0
scmrepo==0.0.7
shortuuid==1.0.8
shtab==1.5.3
six==1.16.0
smmap==5.0.0
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1616268783226/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
SQLAlchemy==1.4.34
sqlparse==0.4.2
stack-data==0.2.0
tabulate==0.8.9
text-unidecode==1.3
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.63.1
traitlets==5.1.1
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.9
voluptuous==0.12.2
waitress==2.1.1
wcwidth==0.2.5
websocket-client==1.3.2
Werkzeug==2.1.1
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
xgboost==1.5.2
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.8.0
